<div class="narrative-text" style="width: calc(100% / {{@root/_items.length}});">
    <div class="narrative-text-inner">
        {{#if title}}<div class="narrative-text-title">{{{title}}}</div>{{/if}}
        {{#if subtitle}}<div class="narrative-text-subtitle">{{{subtitle}}}</div>{{/if}}
        {{#if body}}<div class="narrative-text-body">{{{body}}}</div>{{/if}}
    </div>
</div>
